<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-5">
      <h1 class="text-center">Login | Register</h1>
      <p class="text-center lead"><%= csrfToken %></p>

        <div class="row">
            <!--Register-->
            <div class="col-lg">
                <h4>Make your register</h4>
                <p>Create your account now!</p>
                <form action="/login/register" method="post">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Your name">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary my-3">Register</button>
                  </form>
            </div>

            <!--Login-->
            <div class="col-lg">
                <h4>Make your login</h4>
                <form action="/login/login" method="post">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary my-3">Login</button>
                  </form>
            </div>
        </div>

    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer'); %>